
/* === CARD CONTAINER === */
div.card-container {
	position: relative;
	width: 180px;
	height: 180px;

	display: block;
	padding: none;
	margin: none;
	
	-webkit-perspective: 1000px;
	   -moz-perspective: 1000px;
	     -o-perspective: 1000px;
	    -ms-perspective: 1000px;
	        perspective: 1000px;

}

/* === CARD === */

.card-container .card {
	border: 1px solid #A8A8A8;
	border-radius: 0px;

	width: 100%;
	height: 100%;
	position: absolute;

	display: inline-block;
	padding: none;
	margin: none;

	-webkit-transition: -webkit-transform .7s;
	 -moz-transition: -moz-transform .7s;
	   -o-transition: -o-transform .7s;
	  -ms-transition: -o-transform .7s;
	      transition: transform .7s;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

/* === STYLE FOR THE FRONT & BACK SIDE === */

.card-container .card div {	
	border-radius: 0px;
	
	height: 100%;
	width: 100%;
	position: absolute;
    background: #FBFBFB;
    text-align: center;
	
	margin: none;

	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	    -ms-box-sizing:border-box;
	        box-sizing:border-box;


	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	        backface-visibility: hidden;

    -webkit-box-shadow: 0 7px 9px -8px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 7px 9px -8px rgba(0,0,0,.5);
	     -o-box-shadow: 0 7px 9px -8px rgba(0,0,0,.5);
		-ms-box-shadow: 0 7px 9px -8px rgba(0,0,0,.5);
		    box-shadow: 0 7px 9px -8px rgba(0,0,0,.5);
}

/* === BEGGINING EFFECT === */

.card-container .card[data-direction="top"] .back, .card-container .card[data-direction="bottom"] .back{
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	     -o-transform: rotateX(180deg);
	    -ms-transform: rotateX(180deg);
	        transform: rotateX(180deg);
}
.card-container .card[data-direction="right"] .back, .card-container .card[data-direction="left"] .back{
	-webkit-transform: rotateY(180deg);
	 -moz-transform: rotateY(180deg);
	   -o-transform: rotateY(180deg);
	  -ms-transform: rotateY(180deg);
	      transform: rotateY(180deg);
}

/* === EFFECT DIRECTIONS === */

.flipping-right {
	-webkit-transform: rotateY(180deg);
	 -moz-transform: rotateY(180deg);
	   -o-transform: rotateY(180deg);
	  -ms-transform: rotateY(180deg);
	      transform: rotateY(180deg);
}

.flipping-left {
	-webkit-transform: rotateY(-180deg);
	 -moz-transform: rotateY(-180deg);
	   -o-transform: rotateY(-180deg);
	  -ms-transform: rotateY(-180deg);
	      transform: rotateY(-180deg);
}

.flipping-top {
	-webkit-transform: rotateX(180deg);
	 -moz-transform: rotateX(180deg);
	   -o-transform: rotateX(180deg);
	  -ms-transform: rotateX(180deg);
	      transform: rotateX(180deg);
}

.flipping-bottom {
	-webkit-transform: rotateX(-180deg);
	 -moz-transform: rotateX(-180deg);
	   -o-transform: rotateX(-180deg);
	  -ms-transform: rotateX(-180deg);
	      transform: rotateX(-180deg);
}


/* SOME METRO COLOR THEMES */
	
	/* PURPLE */
	.purple div.card{
		color: white;
		border:none;
	}

	.purple div.card div{
		background: #791869;
	}
	
	/* RED */
	.red div.card{
		color: white;
		border:none;
	}

	.red div.card div{
		background:#C23B3D;
	}

	/* LIGHT-BLUE */
	.light-blue div.card{
		color: white;
		border:none;
	}

	.light-blue div.card div{
		background:#00AFF0;
	}

	/* GREEN */
	.green div.card{
		color: white;
		border:none;
	}

	.green div.card div{
		background:#88B500;
	}

	/* ORANGE */
	.orange div.card{
		color: white;
		border:none;
	}

	.orange div.card div{
		background:#CF3F20;
	}

	/* BLUE */
	.blue div.card{
		color: white;
		border:none;
	}

	.blue div.card div{
		background:#0C5CEA;
	}

	
	/* YELLOW */
	.yellow div.card{
		color: white;
		border:none;
	}

	.yellow div.card div{
		background: #F27A00; 
	}




